<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Event</title>
    <script type="text/javascript" src="js/eventsApi.js"></script>
</head>
<body>
<h1>Add Event</h1>

<p th:text=${events}></p>

<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Location</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
            <tr th:each="event: ${events}">
            <td th:text="${event.name}"></td>
            <td th:text="${event.description}"></td>
            <td th:text="${event.start_date}"></td>
            <td th:text="${event.end_date}"></td>
            <td th:text="${event.location}"></td>
            <td><a th:attr="href=|showevents/${event.id}|"><button>Details</button></a></td>
            <td><button th:attr="onclick=|deleteEventById('${event.id}')|">Delete</button></td>
        </tr>
    </table>
</div>
<p><a href="/addevent">Add new event</a></p>
<p><a href="/showevents">Show events</a></p>

</body>
</html>